
*{
  box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    margin: 0;
}

.no-select {
    user-select: none;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
  
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

header > img {
    user-select: none;
    -webkit-user-drag: none;
}

.background {
    transform: translateZ(-10px) scale(2);
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 300vh;
    object-fit: cover;
    z-index: -1;
}

.title {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    color: white;
    text-shadow: 0 0 5px black;;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@keyframes glow-border {
    from {
        box-shadow: 0 0 10px #fff, 0 0 5px #fff, 0 0 10px #e60073, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073;
      }
      to {
        box-shadow: 0 0 20px #fff, 0 0 10px #ff4da6, 0 0 25px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6;
      }
}

div.gallery {
    margin-bottom: 39;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

div.gallery:hover {
   outline: 2px solid  white;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}

section {
    outline: 2px transparent solid;
    font-size: 2rem;
    padding: 2rem;
    background-color: #666;
}

section > div.img-wrapper, div.projects {
    display: flex;
    justify-content: center;
}

section > h1 { 
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    animation: glow 1s ease-in-out infinite alternate;
}



section > div.img-wrapper > img.code-badge{
    aspect-ratio: 1/1;
    width: 250px;
    padding: 1px;
}

section > div.img-wrapper > img.code-badge:hover {
    transform: scale(1.1);
}


section > div.img-wrapper > img.code-badge {
    transition: all 500ms;
}

section > div.projects {
    width: min-content;
    margin: 0 auto;

}

section > div.projects > ul > li {
    margin-bottom: 2rem;
    list-style:none;
    margin-left: -2rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    width: fit-content;
    
}

section > div.projects > ul > li > a {
    text-decoration: none;
    color: white;
}

section > div.projects > ul> li:hover {
    cursor: pointer;
    text-decoration: underline
}

section > div.contact > ul > li {
    margin-bottom: 2rem;
    list-style:none;
    margin-left: -2rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    width: fit-content;
    margin: 0 auto;
}
