* {
    margin: 0;
    overflow: hidden;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    color: white;
}

.nav-bar-left {
    padding: 10px;
}

.nav-bar-links {
    list-style-type: none;
}

.nav-bar-links > li {
    float: right;
    padding: 10px;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.headshot {
    width: 200px;
    height: 200px;
    background: url('/img/Jacob-Martin.png') no-repeat;
}

.divider {
    border: 1px solid #676767;
    height: 100%;
}

.about {
    max-width: 500px;
}
